{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Register</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="{% static 'img/onlys.jpg' %}"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 800px"

              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Зарегистрируйтесь, чтобы поддержать любимых авторов</h3>
                <h6>Создайте свой аккаунт</h6>
                  <br>

                <div class="row">
                 <form method="post" action="" role="form">
                     {% csrf_token %}
                        <div class="form-outline mb-4">
                          {{ form.username }}
                          <label class="form-label" for="form3Example9">Имя пользователя</label>
                        </div>

                        <div class="form-outline mb-4">
                          {{ form.email }}
                          <label class="form-label" for="form3Example90">Email</label>
                        </div>

                        <div class="form-outline mb-4">
                          {{ form.password }}
                          <label class="form-label" for="form3Example99">Пароль</label>
                        </div>

                        <div class="form-outline mb-4">
                          {{ form.confirm_password  }}
                          <label class="form-label" for="form3Example97">Подтвердите пароль</label>
                        </div>

                        <div class="row">
                            <div class="col s12">
                              <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                            </div>
                        </div>



                        <div class="d-flex justify-content-end pt-3">
                          <button type="button" class="btn btn-light btn-lg"><a href="{% url 'login' %}" style="text-decoration: none">Войти</a></button>
                          <button type="submit" class="btn btn-warning btn-lg ms-2"> Зарегистрироваться </button>
                        </div>
                 </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>